source http://nuget.org/api/v2

nuget Aether >= 8.0.2 < 9

group Build

  source http://nuget.org/api/v2

  nuget Fake

group Test

  framework: >= net45
  source http://nuget.org/api/v2

  nuget NUnit
  nuget Unquote
